.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 266px;
  padding: 0 230px;
  background: #fff;
  opacity: 1;
  position: relative;
  left: 1px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 40px var(--side-padding-mobile) 20px;
    align-items: flex-start;
  }
}
