.body-container {
  width: 100%;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .body-container {
    min-height: auto;
    gap: 20px;
  }
}
